$grid-width: 500px;
$grid-spacing: 10px;
$grid-row-cells: 5;

$cell-size: ($grid-width - ($grid-spacing * $grid-row-cells)) / $grid-row-cells;
$tile-size: $cell-size - $grid-spacing;
$cell-border-radius: 3px;

#grid {
  font-family: $grid-font;
  width: $grid-width;
  height: $grid-width;
  margin: 0 auto;

  .cell {
    width: $tile-size;
    height: $tile-size;
    float: left;
    text-align: center;
    margin: $grid-spacing;
    background-color: #ccc;
    border-radius: $cell-border-radius;
    cursor: pointer;

    h1 {
      position:relative; 
      top:50%;
      transform: translateY(-50%);
      margin:0;
    }
  }
}